<form method="post" action="{{ path('reservationhotel_delete', {'idRes': reservationhotel.idRes}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ reservationhotel.idRes) }}">
    <button class="btn">Delete</button>
</form>
